<a href="https://colab.research.google.com/github/omkashyap7/instainsane/blob/master/Decision_tree_by_om_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# practical of k means
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving petrol_consumption.csv to petrol_consumption.csv

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/petrol_consumption.csv') # reading the csv file of petrol consumption from google drive

In [ ]:
df # printing the data

    Petrol_tax  ...  Petrol_Consumption
0         9.00  ...                 541
1         9.00  ...                 524
2         9.00  ...                 561
3         7.50  ...                 414
4         8.00  ...                 410
5        10.00  ...                 457
6         8.00  ...                 344
7         8.00  ...                 467
8         8.00  ...                 464
9         7.00  ...                 498
10        8.00  ...                 580
11        7.50  ...                 471
12        7.00  ...                 525
13        7.00  ...                 508
14        7.00  ...                 566
15        7.00  ...                 635
16        7.00  ...                 603
17        7.00  ...                 714
18        7.00  ...                 865
19        8.50  ...                 640
20        7.00  ...                 649
21        8.00  ...                 540
22        9.00  ...                 464
23        9.00  ...                 547
24        8.50  ...                 460
25        9.00  ...                 566
26        8.00  ...                 577
27        7.50  ...                 631
28        8.00  ...                 574
29        9.00  ...                 534
30        7.00  ...                 571
31        7.00  ...                 554
32        8.00  ...                 577
33        7.50  ...                 628
34        8.00  ...                 487
35        6.58  ...                 644
36        5.00  ...                 640
37        7.00  ...                 704
38        8.50  ...                 648
39        7.00  ...                 968
40        7.00  ...                 587
41        7.00  ...                 699
42        7.00  ...                 632
43        7.00  ...                 591
44        6.00  ...                 782
45        9.00  ...                 510
46        7.00  ...                 610
47        7.00  ...                 524

[48 rows x 5 columns]

In [ ]:
df_x = df.drop('Petrol_Consumption', axis=1) # axis=1 for column wise and axis=0 for row wise
df_x
df_y = df['Petrol_Consumption']
df_y

0     541
1     524
2     561
3     414
4     410
5     457
6     344
7     467
8     464
9     498
10    580
11    471
12    525
13    508
14    566
15    635
16    603
17    714
18    865
19    640
20    649
21    540
22    464
23    547
24    460
25    566
26    577
27    631
28    574
29    534
30    571
31    554
32    577
33    628
34    487
35    644
36    640
37    704
38    648
39    968
40    587
41    699
42    632
43    591
44    782
45    510
46    610
47    524
Name: Petrol_Consumption, dtype: int64

In [ ]:
df_x

    Petrol_tax  Average_income  Paved_Highways  Population_Driver_licence(%)
0         9.00            3571            1976                         0.525
1         9.00            4092            1250                         0.572
2         9.00            3865            1586                         0.580
3         7.50            4870            2351                         0.529
4         8.00            4399             431                         0.544
5        10.00            5342            1333                         0.571
6         8.00            5319           11868                         0.451
7         8.00            5126            2138                         0.553
8         8.00            4447            8577                         0.529
9         7.00            4512            8507                         0.552
10        8.00            4391            5939                         0.530
11        7.50            5126           14186                         0.525
12        7.00            4817            6930                         0.574
13        7.00            4207            6580                         0.545
14        7.00            4332            8159                         0.608
15        7.00            4318           10340                         0.586
16        7.00            4206            8508                         0.572
17        7.00            3718            4725                         0.540
18        7.00            4716            5915                         0.724
19        8.50            4341            6010                         0.677
20        7.00            4593            7834                         0.663
21        8.00            4983             602                         0.602
22        9.00            4897            2449                         0.511
23        9.00            4258            4686                         0.517
24        8.50            4574            2619                         0.551
25        9.00            3721            4746                         0.544
26        8.00            3448            5399                         0.548
27        7.50            3846            9061                         0.579
28        8.00            4188            5975                         0.563
29        9.00            3601            4650                         0.493
30        7.00            3640            6905                         0.518
31        7.00            3333            6594                         0.513
32        8.00            3063            6524                         0.578
33        7.50            3357            4121                         0.547
34        8.00            3528            3495                         0.487
35        6.58            3802            7834                         0.629
36        5.00            4045           17782                         0.566
37        7.00            3897            6385                         0.586
38        8.50            3635            3274                         0.663
39        7.00            4345            3905                         0.672
40        7.00            4449            4639                         0.626
41        7.00            3656            3985                         0.563
42        7.00            4300            3635                         0.603
43        7.00            3745            2611                         0.508
44        6.00            5215            2302                         0.672
45        9.00            4476            3942                         0.571
46        7.00            4296            4083                         0.623
47        7.00            5002            9794                         0.593

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, test_size=0.25)

In [ ]:
x_train

    Petrol_tax  Average_income  Paved_Highways  Population_Driver_licence(%)
34        8.00            3528            3495                         0.487
21        8.00            4983             602                         0.602
16        7.00            4206            8508                         0.572
41        7.00            3656            3985                         0.563
35        6.58            3802            7834                         0.629
8         8.00            4447            8577                         0.529
11        7.50            5126           14186                         0.525
23        9.00            4258            4686                         0.517
37        7.00            3897            6385                         0.586
32        8.00            3063            6524                         0.578
36        5.00            4045           17782                         0.566
19        8.50            4341            6010                         0.677
39        7.00            4345            3905                         0.672
4         8.00            4399             431                         0.544
31        7.00            3333            6594                         0.513
15        7.00            4318           10340                         0.586
30        7.00            3640            6905                         0.518
38        8.50            3635            3274                         0.663
43        7.00            3745            2611                         0.508
10        8.00            4391            5939                         0.530
27        7.50            3846            9061                         0.579
46        7.00            4296            4083                         0.623
6         8.00            5319           11868                         0.451
40        7.00            4449            4639                         0.626
3         7.50            4870            2351                         0.529
26        8.00            3448            5399                         0.548
25        9.00            3721            4746                         0.544
13        7.00            4207            6580                         0.545
7         8.00            5126            2138                         0.553
47        7.00            5002            9794                         0.593
28        8.00            4188            5975                         0.563
0         9.00            3571            1976                         0.525
14        7.00            4332            8159                         0.608
9         7.00            4512            8507                         0.552
5        10.00            5342            1333                         0.571
1         9.00            4092            1250                         0.572

In [ ]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(x_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
y_predict = model.predict(x_test)

In [ ]:
y_predict

array([577, 467, 541, 587, 610, 467, 524, 566, 524, 547, 524, 467])

In [ ]:
y_test

33    628
24    460
29    534
44    782
42    632
45    510
12    525
17    714
18    865
22    464
20    649
2     561
Name: Petrol_Consumption, dtype: int64

In [ ]:
df_prediction = pd.DataFrame({'predicted_petrol_consumption' :y_predict, 'Actual_petrol_consumption' :y_test})
df_prediction

    predicted_petrol_consumption  Actual_petrol_consumption
33                           577                        628
24                           467                        460
29                           541                        534
44                           587                        782
42                           610                        632
45                           467                        510
12                           524                        525
17                           566                        714
18                           524                        865
22                           547                        464
20                           524                        649
2                            467                        561

In [ ]:
from sklearn import metrics
metrics.mean_squared_error(y_predict, y_test)

17716.083333333332

In [ ]:
#practical of kmeans
grouping city and date

SyntaxError: ignored

In [ ]:
data_player_of_match = pd.DataFrame(data.groupby('id')['toss_winner'].agg('sum').reset_index())
data_player_of_match.sort_values(['toss_winner'], ascending=False)

          id          toss_winner
619  1082634  Sunrisers Hyderabad
556   980979  Sunrisers Hyderabad
395   598071  Sunrisers Hyderabad
575   981017  Sunrisers Hyderabad
576   981019  Sunrisers Hyderabad
..       ...                  ...
430   733995  Chennai Super Kings
439   734013  Chennai Super Kings
720  1178400  Chennai Super Kings
89    392214  Chennai Super Kings
473   829735  Chennai Super Kings

[816 rows x 2 columns]

In [ ]:
#grouping city and team1

In [ ]:
data_city_team1 = pd.DataFrame(data.groupby('city')['team1'].agg('sum').reset_index())
data_city_team1.sort_values(['city'], ascending=False)

              city                                              team1
31   Visakhapatnam  Deccan ChargersDeccan ChargersSunrisers Hydera...
30         Sharjah  Mumbai IndiansRajasthan RoyalsDelhi CapitalsRo...
29          Ranchi  Kolkata Knight RidersKolkata Knight RidersChen...
28          Rajkot  Gujarat LionsGujarat LionsGujarat LionsGujarat...
27          Raipur  Delhi DaredevilsDelhi DaredevilsDelhi Daredevi...
26            Pune  Pune WarriorsPune WarriorsPune WarriorsPune Wa...
25  Port Elizabeth  Royal Challengers BangaloreRoyal Challengers B...
24          Nagpur      Deccan ChargersDeccan ChargersDeccan Chargers
23          Mumbai  Mumbai IndiansMumbai IndiansMumbai IndiansMumb...
22         Kolkata  Kolkata Knight RidersKolkata Knight RidersKolk...
21           Kochi  Kochi Tuskers KeralaKochi Tuskers KeralaKochi ...
20       Kimberley  Deccan ChargersChennai Super KingsDeccan Chargers
19          Kanpur  Gujarat LionsGujarat LionsGujarat LionsGujarat...
18    Johannesburg  Chennai Super KingsRoyal Challengers Bangalore...
17          Jaipur  Rajasthan RoyalsRajasthan RoyalsRajasthan Roya...
16          Indore  Kochi Tuskers KeralaKochi Tuskers KeralaKings ...
15       Hyderabad  Deccan ChargersDeccan ChargersDeccan ChargersD...
14     East London  Kolkata Knight RidersChennai Super KingsDelhi ...
13          Durban  Kings XI PunjabChennai Super KingsRoyal Challe...
12           Dubai  Delhi CapitalsKings XI PunjabKolkata Knight Ri...
11      Dharamsala  Kings XI PunjabKings XI PunjabKings XI PunjabK...
10           Delhi  Delhi DaredevilsDelhi DaredevilsDelhi Daredevi...
9          Cuttack  Deccan ChargersDeccan ChargersDeccan ChargersD...
8          Chennai  Chennai Super KingsChennai Super KingsChennai ...
7       Chandigarh  Kings XI PunjabKings XI PunjabKings XI PunjabK...
6        Centurion  Delhi DaredevilsDeccan ChargersChennai Super K...
5        Cape Town  Chennai Super KingsRoyal Challengers Bangalore...
4     Bloemfontein                   Delhi DaredevilsDelhi Daredevils
3        Bengaluru  Royal Challengers BangaloreRoyal Challengers B...
2        Bangalore  Royal Challengers BangaloreRoyal Challengers B...
1        Ahmedabad  Rajasthan RoyalsRajasthan RoyalsRajasthan Roya...
0        Abu Dhabi  Mumbai IndiansChennai Super KingsSunrisers Hyd...

In [ ]:
#merging both id and player of the match

In [ ]:
data_final_stats = data_player_of_match.merge(data_city_team1,how='outer',  left_on=['toss_winner'], right_on=['team1'])
data_final_stats

           id  ...                                              team1
0    335982.0  ...                                                NaN
1    335998.0  ...                                                NaN
2    336016.0  ...                                                NaN
3    336023.0  ...                                                NaN
4    336029.0  ...                                                NaN
..        ...  ...                                                ...
843       NaN  ...  Delhi DaredevilsDelhi DaredevilsDelhi Daredevi...
844       NaN  ...  Gujarat LionsGujarat LionsGujarat LionsGujarat...
845       NaN  ...  Kolkata Knight RidersKolkata Knight RidersChen...
846       NaN  ...  Mumbai IndiansRajasthan RoyalsDelhi CapitalsRo...
847       NaN  ...  Deccan ChargersDeccan ChargersSunrisers Hydera...

[848 rows x 4 columns]

In [ ]:
!!pip install sklearn

['Requirement already satisfied: sklearn in /usr/local/lib/python3.7/dist-packages (0.0)',
 'Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from sklearn) (0.22.2.post1)',
 'Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.4.1)',
 'Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.19.5)',
 'Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.0.1)']

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
linear_regression_model = LinearRegression()
linear_regression_model.fit(y,x)

ValueError: ignored

In [ ]:
data_final__stats ['Predicted_wickets']= linear_regression_model.predict(y)

NotFittedError: ignored

In [ ]:
data_final_stats

           id  ...                                              team1
0    335982.0  ...                                                NaN
1    335998.0  ...                                                NaN
2    336016.0  ...                                                NaN
3    336023.0  ...                                                NaN
4    336029.0  ...                                                NaN
..        ...  ...                                                ...
843       NaN  ...  Delhi DaredevilsDelhi DaredevilsDelhi Daredevi...
844       NaN  ...  Gujarat LionsGujarat LionsGujarat LionsGujarat...
845       NaN  ...  Kolkata Knight RidersKolkata Knight RidersChen...
846       NaN  ...  Mumbai IndiansRajasthan RoyalsDelhi CapitalsRo...
847       NaN  ...  Deccan ChargersDeccan ChargersSunrisers Hydera...

[848 rows x 4 columns]